.cardContainer {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 2vh;
    background: linear-gradient(to top right, #B9E1DF, white);
}

.imgSpot {
    display: flex;
    width: 90%;
    height: 50vh;
    margin: 50px;
    background-image: url("./src/assets/img/plage.jpeg");
    background-size: cover;
    border: none;
}

.infoSpot {
    display: flex;
    flex-direction: column;
}

.titleSpot {
    background-color: antiquewhite;
    padding: 10px;
    margin: 50px 40px 10px 0;
    
}

.descriptionSpot {
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.others {
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 10px;
}

